<div class="card mb-3">
  <h2 class="card-header h4">
    Recipe Step #<%= recipe_step.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Recipe</dt>
      <dd>
        <% if @recipe_step.recipe.present? %>
          <%= link_to recipe_step.recipe, recipe_step.recipe %>
        <% end %>
      </dd>

      <dt>Step instruction</dt>
      <dd><%= recipe_step.step_instruction %></dd>

      <dt>Step duration minutes</dt>
      <dd><%= recipe_step.step_duration_minutes %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back recipe_step, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_recipe_step_url(recipe_step), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to recipe_step, method: :delete, data: { confirm: "Do you really want to delete this recipe_step?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(recipe_step.updated_at) %> ago
  </div>
</div>
