<%= form_with(model: @recipe_step, local: true) do |f| %>

  <%= f.hidden_field :recipe_id, value: @recipe.id %>

  <div class="form-group">
    <%= f.label :step_instruction %>
    <%= f.text_area :step_instruction, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :step_duration_minutes %>

    <%= f.text_field :step_duration_minutes, class: "form-control" %>
  </div>

  <%= f.submit "Create recipe step", class: "btn btn-block btn-outline-secondary" %>
<% end %>
