<%= form_with(model: @recipe_ingredient, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :recipe_id %>

    <%= f.collection_select :recipe_id, Recipe.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :food_id, value: @inventory_of_food_item.id %>

  <div class="form-group">
    <%= f.label :food_item %>

    <%= f.text_field :food_item, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity %>

    <%= f.text_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity_units %>

    <%= f.text_field :quantity_units, class: "form-control" %>
  </div>

  <%= f.submit "Create recipe ingredient", class: "btn btn-block btn-outline-secondary" %>
<% end %>
